* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #160e3f;
    color: wheat;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 960px;
    margin: auto;
    padding: 0 2rem;
}

#showcasee {
    height: 300px;
}

#showcasee h1 {
    font-size: 3.5rem;
    line-height: 1.3;
    position: relative;
    animation: heading;
    animation-duration: 3;
    animation-fill-mode: forwards;
}

#content {
    position: relative;
    animation-name: content;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes content {
    0% {left: -1000px}
    100% {left: 0}
}

@keyframes heading {
    0% {top: -50px}
    100% {top: 200px}
}
@keyframes Loop {
    0%   {background-color:green; left:0px; top:0px;}
    25%  {background-color:yellow; left:1500px; top:0px;}
    50%  {background-color:blue; left:1500px; top:600px;}
    75%  {background-color:purple; left:0px; top:600px;}
    100% {background-color:red; left:0px; top:0px;}
}
  .weee {
    width: 250px;
    height: 250px;
    animation: Loop 0.01s linear infinite;
    background: red;
    position: relative;
    animation-fill-mode: forwards;
    border-radius: 10%;
    animation-iteration-count: infinite;
    position: absolute;
    left: 0;
    bottom: 0;
  }

 .btn {
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    border: 2px solid #ffffff;
    padding: 1rem;
    margin: 2rem;
    opacity: 0;
    animation-name: btn;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-delay: 3s;
    transition-property: transform;
    transition-duration: 3s;
  }

  .btn:hover {
      transform: rotateY(280deg);
  }

  @keyframes btn {
      0% {opacity: 0;}
      100% {opacity: 1;}
    }